<ng-container *ngIf="!showGame; else show">
  <a routerLink="/homepage"><h3>go back to homepage</h3> </a>
  <button (click)="startTimer()">START GAME</button>
</ng-container>

<ng-template #show>
  <ng-container *ngIf="!endGame; else end">
    <div class="statsBar">
      <p>timeLeft: {{ timeLeft }}</p>
      <p>level: {{ points }}</p>
    </div>
    <app-game-board [timeLeft]="timeLeft"></app-game-board>
  </ng-container>
</ng-template>
<ng-template #end>
  You have aquired: {{ points }} points your stats: {{ stats }}
  <p>some nice graph showing the change of speed between levels</p>
  <button (click)="playAgain()">play again</button>
</ng-template>
